{% extends 'base.html' %}

{% block content%}
    <h3>All surveys: </h3>
    {% for survey in all_surveys %}
        <li>
        {{loop.index}}
        <strong><a href="{{url_for('get_survey', survey_id=survey[0])}}">{{ survey[1] }}</a></strong>
        <br>
        {{ survey[2]}}

        {%if session.user_id == survey[3]%}
            <form action="{{ url_for('delete_survey', survey_id=survey[0]) }}" method="post" style="display:inline;">
            <button type="submit">Delete</button>
            </form>
            <br>
        {% endif %}
        </li>
        </br>
    {% endfor %}
{% endblock%}
